<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="FindEndsOfPipeAndExtendToNearestFloor" Language="1033" Version="1.0.0.0" Manufacturer="BIMbec" UpgradeCode="B9B8A58F-6C41-4595-98C8-68958735B923">
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine"/>

        <MediaTemplate/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="CommonAppDataFolder">
                <Directory Id="Autodesk" Name="Autodesk">
                    <Directory Id="Revit" Name="Revit">
                        <Directory Id="Addins" Name="Addins">
                            <Directory Id="Dir_2024" Name="2024">
                                <Component Id="AddinFileComponent" Guid="713A41D8-9C5F-4335-AFD0-5F2783C8252D">
                                    <File Id="PluginAddin" Source="C:\Users\akram\RiderProjects\BIMbec\RevitPlugin\FindEndsOfPipeAndExtendToNearestFloor\FindEndsOfPipeAndExtendToNearestFloor.addin" KeyPath="yes"/>
                                    <RemoveFile Id="RemoveOldAddin" Name="FindEndsOfPipeAndExtendToNearestFloor.addin" On="install"/>
                                </Component>
                                <Directory Id="INSTALLFOLDER" Name="FindEndsOfPipeAndExtendToNearestFloor">
                                    <Component Id="MainExecutable" Guid="8FE71E1B-93E9-4559-ADF5-6A0A62EE9AF1">
                                        <!-- Используем ключ реестра как KeyPath -->
                                        <RegistryKey Root="HKLM" Key="Software\BIMbec\FindEndsOfPipeAndExtendToNearestFloor">
                                            <RegistryValue Name="Installed" Type="string" Value="yes" KeyPath="yes"/>
                                        </RegistryKey>
    
                                        <File Id="PluginDll" Source="C:\Users\akram\RiderProjects\BIMbec\RevitPlugin\FindEndsOfPipeAndExtendToNearestFloor\bin\Release\FindEndsOfPipeAndExtendToNearestFloor.dll"/>
                                        <File Id="ToolKitDll" Source="C:\Users\akram\RiderProjects\BIMbec\RevitPlugin\FindEndsOfPipeAndExtendToNearestFloor\bin\Release\Nice3point.Revit.Toolkit.dll"/>
                                        <!-- <File Id="PluginConfig" Source="C:\Users\akram\RiderProjects\BIMbec\RevitPlugin\FindEndsOfPipeAndExtendToNearestFloor\bin\Release\FindEndsOfPipeAndExtendToNearestFloor.dll.config"/> -->
    
                                        <!-- Удаление папки при деинсталляции -->
                                        <RemoveFile Id="CleanupInstallFolder" Directory="INSTALLFOLDER" Name="*" On="uninstall"/>
                                    </Component>
                                </Directory>
                            </Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="MainFeature" Title="BIMbec Plugin" Level="1">
            <ComponentRef Id="MainExecutable"/>
            <ComponentRef Id="AddinFileComponent"/>
        </Feature>
    </Product>
</Wix>